dist
node_modules
.env
.DS_Store
.idea/
.pnpm-store/
pkg/
static/gfw_proxy/
*.pkg.tar.zst
*.tar.gz
gfw_resist_HTTPS_proxy/DNS_IP_traffic_info.txt
gfw_resist_HTTPS_proxy/DoH_switch_log.txt
gfw_resist_HTTPS_proxy/Android/
gfw_resist_HTTPS_proxy/asset/
gfw_resist_HTTPS_proxy/__pycache__/