
        body {
            padding: 2em;
        }

        h1 {
            text-align: center;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
        }
    