<!doctype html>
<meta charset="utf-8" />

<head>
    <title>vegord Setup</title>

    <link rel="stylesheet" href="./common.css" type="text/css" />

    <link rel="stylesheet" href="./first-launch.css" type="text/css" />

</head>

<body>
    <h1>Welcome to vegord</h1>
    <p>Let's customise your experience!</p>

    <form>
        <label>
            <h2>Discord Branch</h2>
            <select name="discordBranch">
                <option value="stable">stable</option>
                <option value="canary">canary</option>
                <option value="ptb">ptb</option>
            </select>
        </label>

        <label>
            <div>
                <h2>Start with System</h2>
                <span>Automatically open vegord when your computer starts</span>
            </div>
            <input type="checkbox" name="autoStart" />
        </label>

        <label>
            <div>
                <h2>Rich Presence</h2>
                <span>Enable Rich presence (game activity) via
                    <a href="https://github.com/OpenAsar/arrpc" target="_blank">arRPC</a></span>
            </div>
            <input type="checkbox" name="richPresence" checked />
        </label>

        <label>
            <div>
                <h2>Import Settings</h2>
                <span>Import Settings from existing vegord install (if found)</span>
            </div>
            <input type="checkbox" name="importSettings" checked />
        </label>

        <label>
            <div>
                <h2>Minimise to Tray</h2>
                <span>Minimise to Tray when closing</span>
            </div>
            <input type="checkbox" name="minimizeToTray" checked />
        </label>
    </form>
    <div id="buttons">
        <button id="cancel">Quit</button>
        <button id="submit">Submit</button>
    </div>
</body>

<script src="./first-launch.js"></script>
